.card {
    width: 390px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: crimson ;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: crimson;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  nav {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav .links {
    display: flex;
    gap: 20px;
    align-self: center;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(153, 149, 149);
    font-size: 28px;
    text-transform: capitalize;
    transition: color 0.4s;
    padding: 5px 10px;
    position: relative;
  }
  
  nav a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: crimson;
    transition: width 0.4s ease-out;
  }
  
  nav a:hover {
    color: rgba(0, 0, 0, 0.952);
  }
  
  nav a:hover::before {
    width: 100%;
  }
  
  /* Buttons in navbar */
  
  .navigation-card {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    border-radius: 50px;
  }
  
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: rgb(252, 252, 252);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  .tab:hover {
    background-color: rgb(227, 223, 223);
  }
  
  /* End navbar and start section */
  
  .parent {
    display: flex;
    flex-direction: row;
    gap: 9px;
    overflow-x: scroll;
    scroll-behavior: smooth; /* Smooth scrolling */
  }
  
  .item {
    font-size: 10px;
    background-color: darkgray;
    padding: 70px;
    
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .navigation button {
    font-size: 24px;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: lightgray;
    border: none;
    cursor: pointer;
  }
  .main{
    display: flex;
    gap: 10px;
    margin: 30px;
  }
  button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-transform: capitalize;
    padding: 5px 10px;
  }
  