* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f06, #8e44ad);
}

.container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.image-container {
  flex: 1;
  background-image: url('path-to-image.jpg');
  background-size: cover;
  background-position: center;
}

.form-container {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.signup-form label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.signup-form input {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

.signup-form .check-icon {
  position: absolute;
  right: 10px;
  top: 40px;
  color: green;
  font-size: 20px;
}

.signup-form .terms {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.signup-form .terms input {
  margin-right: 10px;
}

.signup-form button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.signup-form button:hover {
  background-color: #c0392b;
}

.signin {
  text-align: right;
  margin-top: 10px;
  color: #555;
}

.signin p {
  cursor: pointer;
  font-size: 14px;
}
.btn-nav {
  background-color: blue;
  color: white;
  padding: 10px 30px;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-decoration: none

}

.btn-nav:hover {
  color: white;

  background-color: darkblue;
  transform: scale(1.0);
  text-decoration: none

}
a{
  text-decoration: none
}
.service-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* يوزع المحتوى بشكل متساوي */
  height: 100%; /* يضمن أن كل عنصر يأخذ نفس الارتفاع */
  min-height: 300px; /* تحديد ارتفاع أدنى لكل عنصر */
}

.service-item .btn {
  margin-top: auto; /* يجبر الزر على الانتقال إلى أسفل العنصر */
}
