/* global */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 0.938rem;
    font-weight: 500;
    color: #141414;
    line-height: 1.6;
    height: 100%;
    background-color: rgb(255, 252, 247);

}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #141414;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Navigation */
.nav {
    height: 3rem;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-left: 40px;
    margin-bottom: 0;
}

.active {
    position: relative;
}

.active::before {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 45%;
    width: 4px;
    height: 4px;
    background-color: #141414;
    border-radius: 50%;
}

/* Change color header */
.scroll-header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

}

main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* start btn */
/* From Uiverse.io by MuhammadHasann */
.start-btn{
  position: relative;
  padding: 15px 45px;
  background: #fec195;
  font-size: 16px;
  font-weight: 600;
  color: #181818;
  border: 3px solid #fec195;
  border-radius: 8px;
  box-shadow: 0 0 0 #0000008c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

.start-btn:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}

.welcome_text{
  margin-bottom: 20px;
}

.header-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.039);
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding-top: 3rem;
}


.header-1 .nav {
  height: 3rem;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-1 .nav {
  height: 3rem;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding-top: 3rem;
}






/* =================================================================== */
section {
  display: flex;
  background: linear-gradient(rgb(242, 242, 242));
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
}

/* Slider Styling */
.slider {
  display: flex;
  padding: 20px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Grid Layout for Slides */
.slider-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5 columns */
  gap: 5px; /* space between slides */
  transition: transform 0.5s ease-in-out;
}

.slide {
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  /* border-radius: 10px; */
  /* background-color: #fff; */
  /* padding: 20px; */
  text-align: center;
  width: 360px;
}

.slide img {
  width: 100%;
  height: 250px; /* Fixed height */
  object-fit: cover; /* Crop image to fit dimensions */
  /* border-radius: 10px; */
}


/* .card-text {
padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  height: 50px;
} */

.slide h3 {
    margin:0px ;
    /* font-size: 1.5rem; */
    text-align: start;

  }

  .slide span {
    color: #666;
    margin: 0;
    font-size: 13px;
    text-align: start;
    word-wrap: break-word; /* للسماح بتقسيم الكلمات عند الحاجة */
    overflow-wrap: break-word; /* نسخة أحدث من word-wrap */
    white-space: normal; /* يسمح بتقسيم الأسطر بشكل طبيعي */
  }
.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prev, .next {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 50%;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.disabled {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}












/* =================================================================== */

/* Footer Section */
.footer {
  background-color: #333; /* Dark background for contrast */
  color: #ffffff; /* Pure white for headings */
  padding: 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex: 1 1 200px;
  margin: 1rem;
  min-width: 220px;
}

.footer-column h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ffffff;

  font-weight: 600;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 0.5rem;
}

.footer-column ul li a {
  color: #ffffff;

  text-decoration: none;
  transition: color 0.3s ease, padding-left 0.3s ease;
}

.footer-column ul li a:hover {

  padding-left: 0.5rem;
}

.footer-column p {
  font-size: 0.875rem;
  line-height: 1.6;
  color: #ffffff;

}

.footer-bottom {
  background-color: #222;
  color: #e0e0e0;
  text-align: center;
  padding: 1rem;
  font-size: 0.875rem;
  border-top: 1px solid #444;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer {
      flex-direction: column;
      align-items: center;
  }

  .footer-column {
      text-align: center;
      margin: 1rem 0;
  }
}
/* From Uiverse.io by catraco */
.heart-container {
  --heart-color: rgb(255, 91, 137);
  position: relative;
  width: 30px;
  height: 50px;
  transition: .3s;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
        .heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}
.card-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 10px;
  padding: 10px;
}
.card-btn{
  display: flex;
  align-items: start;
  justify-content: start;
  align-self: center;
  gap: 10px;
  padding: 10px;
}
.filters{

  display: flex;
  gap: 30px;
}
.filter{
border: #666 solid 1px;}
.firstdiv{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 35px;
  gap:10px
}
.see-more-btn
{
    position: relative;
    padding: 15px;
    background: #fec195;
    font-size: 16px;
    font-weight: 600;
    color: #181818;
    border: 3px solid #fec195;
    border-radius: 8px;
    box-shadow: 0 0 0 #0000008c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.see-more-btn:hover
{
    background: #cf9e7b;
    border: 3px solid  #cf9e7b;
}
.services {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin: 50px 0;
}

.service-item {
    background-color:white;
    border-radius: 8px;
    padding: 30px;
    margin: 10px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
}
.service-item:hover{
    background-color: #99989820;
    transition: all 0.3s ease-in-out;
}
.service-item:nth-child(1) { animation-delay: 0.1s; }
.service-item:nth-child(2) { animation-delay: 0.2s; }
.service-item:nth-child(3) { animation-delay: 0.3s; }

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.image-container {
    position: relative;
    overflow: hidden; /* يخفي المحتوى الزائد */
    border-radius: 8px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.image-container img {
    width: 100%;
    /* height: auto; */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.38); /* فلتر أسود */

}

.see-more-btn{
    background-color: rgb(59, 56, 67);
    width: 220px;
    color: white;
    border-radius: 2px;
    border: rgb(59, 56, 67) solid 1px ;
}
.see-more-btn:hover{
    background-color: rgb(72, 70, 79);
    width: 220px;
    color: white;
    border-radius: 2px;
    border: rgb(59, 56, 67) solid 1px ;
}
.items{
    display: flex;
    gap: 10px;;
}
.item1
{
    background-color: #333;
    height: 300px;
    width: 380px;
    background-color:white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.item2
{
    background-color: #333;
    height: 300px;
    width: 180px;
    background-color:white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.cat-col{
    display: flex;
    gap: 8px;
}
.item3{
    background-color: brown;
    height: 180px;
    width: 480px;
    background-color:white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.item4{
    background-color: brown;
    height:  100px;
    width:  108px;
    background-color:white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
.item5{
    background-color: brown;
    height:  100px;
    width:  108px;
    background-color:white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.item6{
    background-color: rgb(42, 165, 42);
    height:  100px;
    width: 200px;
    background-color:white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.row{
    margin-top: 10px;
    display: flex;
    gap: 33px;
    justify-content: center;
}
.comments-section {
    padding: 20px;

}

.Comment {
    width: 90%;
    padding: 20px;
    margin-bottom: 20px;
    background-color:white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
    margin-top: 20px;
}

.p-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.p-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Circular image */
    border: 3px solid #fff; /* White border */
    margin-right: 10px; /* Spacing between image and text */
}

.comment-form {
    display: flex;
}

.comment-form input {
    flex: 1; /* Takes remaining space */
    padding: 20px;
    border: 1px solid #8f8f8f;
    border-radius: 4px; /* Rounded corners */
    margin-right: 10px; /* Space between input and button */
    font-size: 30pz;
}

.comment-form button {
    padding: 10px 15px;
    background-color: #3d3e3e; /* Button color */
    color: white; /* Button text color */
    border: none;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
}

.comments-list {
    margin-top: 20px;
}

.comment {
    padding: 10px;
    border: 1px solid #ddd; /* Border */
    border-radius: 4px; /* Rounded corners */
    margin-bottom: 10px;
    background-color: #fff; /* Background for comments */
}
.info{
    display: flex;
    flex-direction: column;
}
.container-fluid {
    background-color: #f8f9fa; /* Light background for the testimonial section */
}

h4.title-border-radius {
    border-radius: 10px; /* Rounded corners for the title */
}

/* Testimonial Styles */
.testimonial-item {
    border-radius: 10px; /* Rounded corners for testimonial items */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.3s; /* Smooth scaling effect */
}

.testimonial-item:hover {
    transform: scale(1.05);
}

.border-top {
    border-top: 1px solid #dee2e6;
}

.bg-light {
    background-color: #ffffff;
}

.text-primary {
    color: #007bff;
}

.text-dark {
    color: #343a40;
}

.d-flex {
    display: flex;
}

.rounded-circle {
    border-radius: 50%;
}


@media (max-width: 768px) {
    .testimonial-item {
        margin-bottom: 20px;
    }
}

#user-info-t{
    display: flex;
    gap: 10px;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.text-gold {

    color: gold;
}
.contact {
    display: flex; /* استخدام flexbox */
    justify-content: space-between;
    max-width: 1200px; /* الحد الأقصى لعرض الحاوية */
    margin: auto; /* توسيط الحاوية */
    background-color: #fff; /* خلفية للنموذج */
    border-radius: 8px;
    margin-bottom: 30px;
}

.about {
    flex: 1; /* أخذ حيز متساوي */
    padding: 30px;
    border-right: 1px solid #000000; /* فصل بين القسمين */
    background-color: rgb(255, 252, 247);

}

.contact-container {
    flex: 1; /* أخذ حيز متساوي */
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* ظل */

}

h1, h4 {
    color: #333; /* لون النص */
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555; /* لون النص */
}

input, textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s; /* تأثير انتقال */
}

input:focus, textarea:focus {
    border: 1px solid #007bff; /* لون الحدود عند التركيز */
    outline: none; /* إزالة الإطار الافتراضي */
}

button {
    width: 100%;
    padding: 15px;
    background-color: #007bff; /* لون الزر */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* تأثير انتقال */
}

button:hover {
    background-color: #0056b3; /* لون عند التمرير */
}

button
{
    background-color: rgb(59, 56, 67);
    width: 220px;
    height: 60px;
    color: white;
    border-radius: 2px;
    border: rgb(59, 56, 67) solid 1px;
}

button:hover
{
    background: #434140;

}
h1{
    text-align: center;
}
.big-title{
    color: white;
    font-size: 40px;
}
.contact{
    background-color: rgb(255, 252, 247);

}
.contact-container{
    background-color: white;
}
.about-section {
    /* background-color: #f9f9f9; */
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    background-color: rgb(255, 252, 247);

    max-width: 600px;
    margin: auto;
}

.about-title {
    color: #333;
    margin-bottom: 10px;
}

.about-description {
    color: #555;
    line-height: 1.6;
}

.about-services {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about-service-column {
    flex: 1;
    margin: 0 10px;
}

.about-service-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.about-service-item i {
    margin-right: 10px;
    color: #ffcc00; /* Gold color for stars */
}
.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group {
    flex: 1;
    margin-right: 10px; /* لتوفير مسافة بين الحقول */
}

.input-group:last-child {
    margin-right: 0; /* إزالة المسافة للعنصر الأخير */
}
